DATABASE_PATH=data/sqlite.db
JWT_SECRET=replace-with-a-long-secret
JWT_EXPIRATION=900s
JWT_REFRESH_SECRET=replace-with-another-long-secret
JWT_REFRESH_EXPIRATION=7d
KAFKA_CLIENT_ID=microservice-nest
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=microservice-group
