# Server port configuration
PORT=3000

# Application environment (development | production)
APP_ENV=development

# JWT configuration
JWT_SECRET=your-jwt-secret-key-here # do not use example value
# JWT_EXPIRES_IN=1d  # e.g., '1h' for 1 hour or '7d' for 7 days
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=604800

# Refresh token configuration
# REFRESH_TOKEN_SECRET=your-refresh-token-secret-here # do not use example value
# REFRESH_TOKEN_EXPIRES_IN=604800  # Must be in seconds

# MySQL configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=nestjs_api
DB_SYNCHRONIZE=false

USER_SERVICE_PORT=3001
VENDOR_SERVICE_PORT=3002
PRODUCT_SERVICE_PORT=3003
INVENTORY_SERVICE_PORT=3004
BOOKING_SERVICE_PORT=3005
PAYMENT_SERVICE_PORT=3006
NOTIFICATION_SERVICE_PORT=3007
REVIEW_SERVICE_PORT=3008

INVENTORY_DATABASE_URL=mysql://root:password@localhost:3306/inventory_db
BOOKING_DATABASE_URL=mysql://root:password@localhost:3306/booking_db
PAYMENT_DATABASE_URL=mysql://root:password@localhost:3306/payment_db
NOTIFICATION_DATABASE_URL=mysql://root:password@localhost:3306/notification_db
REVIEW_DATABASE_URL=mysql://root:password@localhost:3306/review_db

# Kafka configuration
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=api-gateway
KAFKA_GROUP_ID=api-gateway

# SMTP gmail configuration
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-email-app-password

# Project Details
PROJECT_NAME=My Project
BACKEND_URL=http://localhost:3000
SALT_ROUND=10
